<td *ngIf="!isEditing; else editable">
    <div fxLayout="row" fxLayoutAlign="start baseline">
      <span fxFlex="80">{{ value }}</span>
      <button fxFlex mat-icon-button color="accent" (click)="toggleEditMode()"><mat-icon>edit_pencil</mat-icon></button>
    </div>


</td>

<ng-template #editable>
  <td>
    <mat-form-field>
      <mat-select [(value)]="value">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="accent" (click)="toggleEditMode(); emitChange()"><mat-icon>save_file</mat-icon></button>
  </td>
</ng-template>