@import '~@angular/material/theming';
@include mat-core();

$default-app-primary: mat-palette($mat-blue);
$default-app-accent : mat-palette($mat-deep-orange, A200, A100, A400);
$default-app-warn : mat-palette($mat-red);
$default-app-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-app-theme);