<td *ngIf="!editState.title; else editTitle">
    <div fxLayout="row" fxLayoutAlign="start baseline">
        <span fxFlex class="indicator indicator-{{record.status}}"></span> 
        <span fxFlex="75%">{{ record.title }}</span>
        <button mat-icon-button color="accent" (click)="toggleEditMode('title')">
        <mat-icon>edit_pencil</mat-icon>
        </button>
    </div>
</td>
<ng-template #editTitle>
    <td>
        <mat-form-field>
                <input matInput type="text" [(ngModel)]="record.title" (valueChange)="emitChange('title', record.title)">
        </mat-form-field>
        <button mat-icon-button color="accent" (click)="toggleEditMode('title')"><mat-icon>save_file</mat-icon></button>
    </td>
</ng-template>

<td>{{ record.division }}</td>

<ng-content select=".project_owner"></ng-content>

<td *ngIf="!editState.budget; else editBudget">
    <div fxLayout="row" fxLayoutAlign="start baseline">
        <span fxFlex>{{ record.budget | currency}}</span>
        <button fxFlex mat-icon-button color="accent" (click)="toggleEditMode('budget')"><mat-icon>edit_pencil</mat-icon></button>
    </div>
</td>
<ng-template #editBudget>
    <td>
            <mat-form-field>
                    <input matInput type="text" [(ngModel)]="record.budget" (valueChange)="emitChange('budget', record.budget)">
            </mat-form-field>
        <button mat-icon-button color="accent" (click)="toggleEditMode('budget')"><mat-icon>save_file</mat-icon></button>
    </td>
</ng-template>


<ng-content select=".status"></ng-content>


<td>
    {{ record.created }}
</td>

<td>
    {{ record.modified | date:'MM/dd/yy' }}
</td>

<td>
    <button mat-icon-button color="primary"><mat-icon>more</mat-icon></button>
</td>